In [1]:
#import libraries
import pandas as pd
df = pd.read_csv("employee-salary-data-1.csv")
df.head()

,SalaryDataID,CalendarYear,EmployeeName,Department,JobTitle,AnnualRate,RegularRate,OvertimeRate,IncentiveAllowance,Other,YearToDate
0,1,2008,"Lampkin, Joseph",Louisville Metro Police,Police Officer,45219.2,45140.80,655.26,5546.64,690.00,52032.70
1,2,2008,"Brink, Robin",Louisville Metro Police,Police Officer,49504.0,24060.21,559.00,4132.48,7001.68,35753.37
2,3,2008,"Hightower, Timothy",Louisville Metro Police,Police Officer,53435.2,53817.28,2045.97,8013.04,610.00,64486.29
3,4,2008,"Kiefer, John",Louisville Metro Police,Police Officer,51417.6,49216.00,0.00,7346.16,463.50,57025.66
4,5,2008,"Banta, Robert",Louisville Metro Police,Police Officer,46051.2,46321.36,2225.55,7066.08,1518.00,57130.99

In [2]:
df.tail()

,SalaryDataID,CalendarYear,EmployeeName,Department,JobTitle,AnnualRate,RegularRate,OvertimeRate,IncentiveAllowance,Other,YearToDate
86695,86696,2015,"Hardin, Ashley",Library,Personnel Specialist,33280.0,1280.00,2.40,0.0,0.00,1282.40
86696,86697,2016,"Goldsmith, Charles",Parks & Recreation,Park Aide,31200.0,6573.75,0.00,0.0,0.00,6573.75
86697,86698,2016,"Readus-Wright, Mache'",Public Works,Engineer III,87443.2,86534.23,0.00,0.0,0.00,86534.23
86698,86699,2016,"Selmon, Bobbi",Human Relations Commission,Compliance Analyst,37086.4,36239.06,1.75,0.0,0.00,36240.81
86699,86700,2016,"Parrish, Kent",Louisville Fire,Fire Prevention Inspector I,52873.6,52873.17,691.58,10163.8,1087.56,64816.11

In [3]:
df["Department"] = df["Department"].replace("Louisville Metro Police", 1)

In [4]:
# machine learning algorithm
from sklearn.tree import DecisionTreeClassifier

#creat and fit our model
model = DecisionTreeClassifier().Fit(X,y)

# predicition
model.predict([[]])

AttributeError: 'DecisionTreeClassifier' object has no attribute 'Fit'

In [5]:
# i have to change the data set for partuculair problm

# how to measure the accuarcy of our model

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_TEST, y_train, y_test = train_test_split(X, y, test_size=0.2) #80% traing data and 20% test data

#creat a model 
model = DecisionTreeClassifier()
#fitting a model 
model.fit(X_train, y_train)

predict_values = model.predict(X_test)
predicted_values

# checking score
#y_test = actual_values


score = accuracy_score(actual_values, predicted_values)
score

NameError: name 'X' is not defined

In [ ]:
# how to train and save your model

import pandas as pd 
import sklearn.tree import DecisionTreeClassifier
import joblib

model = DecisionTreeClassifier().fit(X,y)

joblib.dump(model, "foodie.joblib")

In [ ]:
#how to import/run a stored or saved model on our data

In [8]:
# graphs 
model = DecisionTreeClassifier().fit(X, y)

#graphic evalution/ look into what happend 
tree.export_graphviz(model
                     out_file ="foodies.dot",
                     feature_names=['Department', 'JobTitle'],
                     class_names =sorted(y.unique()),
                     label='Ã¡ll',
                     rounded=True,
                     filled=True)

SyntaxError: invalid syntax (2848313680.py, line 6)